__pycache__/
.venv/
unet_imagenette*
datasets/cloudsen12/cloudsen12-l1c.0000.part.taco
datasets/cloudsen12/cloudsen12-l1c.0001.part.taco
datasets/cloudsen12/mini.taco
calibration_dataset/calib_set.npy
unet_segmentation.onnx
unet_segmentation.onnx.data
unet_segmentation.pth